作为大众读物的创作者，每一位网络文学作家都应当具备强烈的社会责任意识，牢记“四个坚持”，创作符合社会主义主流价值观的作品，积极传播社会正能量，坚决抵制一切不良信息。

依据有关法律法规以及阅文集团内容管理规定，以下内容严禁在任何作品中出现：

1、与宪法原则相违背的内容

包括但不限于反社会主义、反对中国共产党领导、反对国家政体等。

2、危害国家统一、主权和领土完整的内容

包括但不限于宣扬台独、港独、藏独、疆独等分裂祖国行为，宣扬人权高于主权等。

3、泄露国家秘密、危害国家安全或者损害国家荣誉和利益的内容

包括但不限于泄露国家秘密、诋毁攻击国家制度和工作人员、贬损中国文化和国家建设成就等。

4、煽动民族仇恨、民族歧视，破坏民族团结，或者侵害民族风俗、习惯的内容

包括但不限于对于中华民族成员的污蔑攻击，煽动民族间仇恨或者贬损兄弟民族文化传统、宗教和生活习惯等。

5、宣扬邪教、迷信的内容

包括但不限于宣传现实邪教或者类似的虚拟组织，宣扬传播迷信活动等。

6、扰乱社会秩序，破坏社会稳定的内容

包括但不限于编造有明确指向的虚构内容，对影响社会安定的舆情仅凭好恶肆意评论，参与宣扬群体事件等。

7、包含淫秽、色情、低俗信息的内容

包括但不限于性行为细节描写等淫秽、情色内容，以低级生理欲望为导向以及其他低俗信息等。

8、宣扬赌博、暴力或者教唆犯罪等信息的内容

包括但不限于宣扬、鼓吹、美化赌博、吸毒、涉黑等违法犯罪信息的。

9、侮辱或者诽谤他人，侵害他人合法权益的内容

包括不限于在作品内对现实人物进行侮辱、诽谤，泄露他人隐私信息等。

10、危害社会公德或贬低中华民族优秀文化的内容

包括但不限于违反社会主流道德、中华民族传统美德，宣扬反道德言论，贬损中华民族优秀文化等。

11、以未成年人为对象的出版物不得含有诱发未成年人模仿违反社会公德的行为和违法犯罪的行为的内容

不得含有恐怖、残酷等妨害未成年人身心健康的内容

12、在作品中虚构、抹黑、臆测党政机关工作与相应工作人员的内容

包括但不限于在作品中虚构、抹黑、臆测党政机关工作、政策、相关人员，宣扬官场亚文化、鼓吹“潜规则”等。

13、散播、评论各类来源不明、可能造成社会危害的广告信息和谣言的内容

包括但不限于散播各类小道消息、未经证明的传闻，或对各类事件随意点评，煽动负面情绪，未经许可发布各类广告等可能危害社会、给读者造成负面影响的信息等。

14、宣扬历史虚无主义的内容

包括但不限于通过编造、歪曲和否定历史、否定中国文化、诋毁英烈等手段，借以否定社会主义制度必然性和党的领导等。

15、宣扬各类极端价值观和不良导向的内容

包括但不限于宣扬反伦理、反社会、丧文化等宣扬极端价值观和不良导向的等。

16、有法律、行政法规和国家规定禁止的其他内容的

一旦作品出现上述不良信息或在作品中诱导用户通过其他方式获取上述信息的，我们将依据相关内容管理规定予以从严处理，这将直接对您的创作造成严重后果和重大损失，也是我们都不愿意出现的情况。

请务必高度重视！

希望每一位作家，都能秉承正确创作导向，成就写作生涯的辉煌！